@CHARSET "EUC-KR";

/* import */
@import url(base.css); /* reset, font, link, skip */
@import url(layout.css); /* layout */

/*	중간 회색줄	*/
#main_line{height:10px; width:990px; background-color:#dbdbdb; margin-right:auto; margin-left:auto;margin-top:-30px;}
#side_line{height:5px; width:910px; background-color:#dddddd; margin-right:auto; margin-left:auto; margin-top:30px;}
#side_line2{height:5px; width:910px; background-color:#dddddd; margin: 10px 100px 10px -10px; }
#side_line3{height:5px; width:910px; background-color:#dddddd; margin-right:auto; margin-left:auto; }
#line2{margin:10px 0 10px 0;width:910px; height:2px; background-color:#e5e5e5; margin: 10px 100px 10px -10px;}

/*	board_info	*/
#board_Write_Wrap {height:auto; width:900px; margin-right:auto; margin-left:auto; background-color:#f5f5f5; font-size:20px; padding-top: 10px; padding-left: 10px;}
#board_Write_Wrap .left_box{ padding-top: 10px; padding-left: 10px; padding-right: 10px;}
#board_Write_Wrap .right_box{ padding-top: 10px; padding-left: 10px; padding-right: 10px;}
#board_Write_Wrap .board_cont{ height:500px; width:880px; margin-top:10px; padding-top: 10px; align:left;}
#board_Write_Wrap .hit_box{ margin-top:10px; padding-top: 10px; margin-right:100px; margin-left:500px; align:right; }
#board_cont{ height:250px; width:510px;  border:1px solid blue; color:blue;}


/*	board_move_box	*/
#move_box{height:250px; width:910px; margin-right:auto; margin-left:auto;border:1px solid  colourless;}
/*  board_목록  */
#move1{margin:8px 0 0 0; border:1px solid  colourless; float:auto; }
/*  board_답글  */
#move2{margin:-37.5px 0 0 697px; border:1px solid  colourless; float:auto; }
/*  board_수정  */
#move3{margin:-36.5px 0 0 770px; border:1px solid  colourless; float:auto; }
/*  board_삭제  */
#move4{margin:-37px 0 0 843px; border:1px solid  colourless; float:auto; }


