@charset "utf-8";
/* import */
@import url(base.css); /* reset, font, link, skip */
@import url(layout.css); /* layout */

/* join_select*/
#box{width: 1000px; height: 450px; margin:0 auto; border-top: 8px solid #e6e6e4; margin-bottom: 400px; border-left: 1px solid #e6e6e4;}

#join_wel{ margin-left: 20px; margin-top: 105px;}
#join_img ul{ float: left; margin-left: 315px; margin-top: 60px;}
#join_img ul li{float: left;}
#join_img .join_img_li{ margin-right: 203px;}