@charset "utf-8";
/* import */
@import url(base.css); /* reset, font, link, skip */
@import url(layout.css); /* layout */

/* join_sell_form */
#box{width: 1000px; height: 1200px; margin:0 auto; border-top: 8px solid #e6e6e4; margin-bottom: 400px;}
#box ul{float: left;}
#box ul li{float: left; }
#box .box_li_1{margin-top: 80px; margin-bottom: 30px;}
#box .box_li_2{margin-left: 570px; margin-top: 80px; margin-bottom: 30px;}


#info{ width: 900px; height: 550px; margin-top: 127px; border-top: 4px solid #dddddd; border-bottom: 4px solid #dddddd; background-color: #f5f5f5;}
#info .info_list{ padding-top: 10px; padding-left: 10px;}
#info .info_box{ margin-top: 10px; height: 18px; border: 1px solid #bcbcbc; }
#info .info_box2{margin-top: 2px; height: 18px; border: 1px solid #bcbcbc; width: 506px;}
#info .info_box3{margin-top: 10px; height: 18px; border: 1px solid #bcbcbc; width: 506px;}
#info .info_box4{margin-top: 10px; height: 18px; border: 1px solid #bcbcbc; width: 60px;}
#info .info_box5{margin-top: 10px; height: 18px; border: 1px solid #bcbcbc; width: 60px;}

.add_img{ margin-top: 33px; margin-bottom: 33px;}

#add_info{ width: 900px; height: 175px; border-top: 4px solid #dddddd; border-bottom: 4px solid #dddddd; background-color: #f5f5f5;}
#add_info .info_list{ padding-top: 10px; padding-left: 10px;}
#add_info .info_box1{ margin-top: 10px; height: 18px; border: 1px solid #bcbcbc; width: 65px;}
#add_info .info_box2{ margin-top: 10px; height: 18px; border: 1px solid #bcbcbc; width: 36px;}
#add_info .info_box3{ margin-top: 10px; height: 18px; border: 1px solid #bcbcbc; width: 200px;}

#info_check{ width: 900px; height: 330px; border-top: 4px solid #dddddd; border-bottom: 4px solid #dddddd; background-color: #f5f5f5;}
#info_check .info_textarea{ margin-left: 23px; margin-top: 23px; width: 860px; height: 260px; border: 1px solid #dddddd; resize: none;}
#info_check ul li p{ margin-left: 20px; margin-top: 12px;}
#info_check .input_check{ margin-left: 20px; margin-top: 12px; }

#info_btn{ margin-top: 20px; }
#info_btn ul{ margin-left: 580px; }
#info_btn ul li{ padding: 5px;}

#sell_info{ width: 900px; height: 400px; border-top: 4px solid #dddddd; border-bottom: 4px solid #dddddd; background-color: #f5f5f5; }
#sell_info .info_list{ padding-top: 10px; padding-left: 10px;}
#sell_info .info_box{ margin-top: 10px; height: 18px; border: 1px solid #bcbcbc; }
#sell_info .info_box2{margin-top: 2px; height: 18px; border: 1px solid #bcbcbc; width: 506px;}
#sell_info .info_box3{margin-top: 10px; height: 18px; border: 1px solid #bcbcbc; width: 506px;}
#sell_info .info_box4{margin-top: 10px; height: 18px; border: 1px solid #bcbcbc; width: 60px;}
#sell_info .info_box5{margin-top: 10px; height: 18px; border: 1px solid #bcbcbc; width: 60px;}

#info_btn{ margin-top: 20px; position:relative; left:580px;}
#info_btn p{float:left; padding-left:5px;}